<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .table {
            width: 500px;
        }

        td {
            text-align: center;
        }
    </style>
</head>

<body>
    <form action="/addUser">
        <label for="name">
            用户名:
            <input type="text" name="name" placeholder="请输入用户名">
        </label>
        <label for="price">
            价格:
            <input type="number" name="price" min="0" placeholder="请输入价格">
        </label>
        <input type="submit" value="添加">
    </form>

    <table class="table" border="1" cellspacing="0">
        <thead>
            <tr>
                <th>id</th>
                <th>姓名</th>
                <th>价格</th>
            </tr>
        </thead>
        <tbody>
            {% for user in userAll %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>